* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#bad0d5 ;
}
img {
    margin-right: 10px;
}
.chat-container {
    width: 900px;
    background-color: #f0f7f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background-color: #2b7780;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-header .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.chat-header .chat-title {
    font-weight: bold;
    color: #ffffff;
    margin-right: auto;
}

.chat-header .close-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #f0ebeb;
    cursor: pointer;
}
.chat-body {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    background-color: #f0ebeb;
    height: 500px;
}

.message-bot, .message-user {
    max-width: 80%;
    padding: 10px;
    border-radius: 15px;
    font-size: 14px;
    margin-top: 5px; 
}

.message-bot {
    background-color: #2b7780;
    align-self: flex-start;
    color: #fff;
}

.message-user {
    background-color: #e3e3e3;
    align-self: flex-end;
    color: #333;
}

.camera-btn {
    background-color: transparent;
    border-radius: 10px;
    padding: 8px;
    margin: 3px;
    border: none;
    font-size: 20px;
}

.chat-footer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0ebeb;
}

.chat-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.send-btn {
    font-size: 20px;
    border: none;
    color: black;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    margin-left: 5px;
}

.texto-bot {
    color: black;
}

#capture-btn {
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#photo {
    display: block;
    margin-top: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
}